
@{
    ViewBag.Title = "Get Direct link Google Drive, One Drive, Dropbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get direct link GDrive - OneDrive - Dropbox</h2>
<hr />
@using (Html.BeginForm("Index", "GetLink", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Link")
                @Html.TextBox("link", string.Empty, new { @class = "form-control", @placeholder = "Nhập đường link cần get", @value = ViewBag.Link, @pattern = "https?://.+" })
            </div>
            <div class="form-group">
                @Html.Label("Direct link")
                @Html.TextArea("key", ViewBag.Result as string, new { @class = "form-control", @value = ViewBag.Result, @readonly = "readonly" })
            </div>
            <div class="form-group">
                @Html.Label("Shorten link")
                @Html.TextBox("shortLink", ViewBag.Short as string, new { @class = "form-control", @value = ViewBag.Short, @readonly = "readonly" })
            </div>
            <h5>Hỗ trợ:</h5>
            <p><small>- https://drive.google.com/file/d/0BxnW-ZCcPjQ9am9uQzJuU2RrQkk/view?usp=sharing</small></p>
            <p><small>- https://drive.google.com/open?id=0BxnW-ZCcPjQ9am9uQzJuU2RrQkk</small></p>
            <p><small>- https://www.dropbox.com/s/jh7dq4uh4k26d0b/Huong%20dan.txt?dl=0</small></p>
            <p><small>- https://onedrive.live.com/embed?cid=95AA6723FE6BEA06&resid=95AA6723FE6BEA06%2131744&authkey=AHq6MSsb2mmBh6Y</small></p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
}

